body {
    max-width: 35rem;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: auto;
    justify-items: center;
  }
  
  img[data-src] {
    filter: blur(0.2em);
  }
  
  img {
    filter: blur(0em);
    transition: filter 0.5s;
  }