@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

header,
main,
footer {
    max-width: 750px;
    min-width: 500px;
    margin: 1rem auto;
}

h1 {
    background-color: #595959;
    color: #F2F2F2;
}


p #headingsFont {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

a {
    color: navajowhite;
}

p #paragraphFont {
    font-family: 'Open Sans', sans-serif;;
    font-size: larger;
}

img {
    padding: 2rem
}

div {
    background-color: #A5A5A5;
    color: #F2F2F2;;
}

h2 {
    background-color: #595959;
    color: #F2F2F2;
}

footer {
    text-align: center;
    background-color: #CCCCCC;
    color: #F2F2F2;
    padding-top: 2rem;
    padding-bottom: 2rem;
}