@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Libre Baskerville', serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0047ab;
    color: white;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img, header h1 {
    margin: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: block;
    padding: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

nav a:hover {
    background-color: #0047ab;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    margin: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.card {
    background-color: white;
}

.card h3 {
    background-color: #0047ab; 
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.card ul {
    padding: 0;
    list-style-type: none;
}
.card ul li{
    padding: 10px;
}

#activities, #information {
    border: 2px solid #333;
    margin: 10px;
}

#information {
    text-align: center;
}

#information p {
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}


.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: gray;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}
.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 100%;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

.map {
    grid-column: 1/4;
    margin: 10px auto;
	position: relative;
    width: 100%;
}