@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Libre Baskerville', serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img, header h1 {
    margin: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: block;
    padding: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

nav a:hover {
    background-color: burlywood;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    margin: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.card {
    background-color: white;
}

.card h3 {
    background-color: gray; 
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.card ul {
    padding: 0;
    list-style-type: none;
}
.card ul li{
    padding: 10px;
}

#activities, #information {
    border: 2px solid #333;
    margin: 10px;
}

#information {
    text-align: center;
}

#information p {
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}


.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: gray;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

